[project]
	description = A Flash Player for Linux
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/南浦月 (nanpuyue)
[access "refs/for/refs/*"]
	read = group user/南浦月 (nanpuyue)
	push = group user/南浦月 (nanpuyue)
	label-Code-Review = -2..+2 group user/南浦月 (nanpuyue)
	label-Verified = -1..+1 group user/南浦月 (nanpuyue)
	rebase = group user/南浦月 (nanpuyue)
	removeReviewer = group user/南浦月 (nanpuyue)
	submit = group user/南浦月 (nanpuyue)
[access "refs/heads/*"]
	read = group user/南浦月 (nanpuyue)
	create = group user/南浦月 (nanpuyue)
	push = +force group user/南浦月 (nanpuyue)
	pushMerge = group user/南浦月 (nanpuyue)
[access "refs/tags/*"]
	push = group user/南浦月 (nanpuyue)
	push = +force group user/南浦月 (nanpuyue)
